auth.json
[
    {
        "id": "d0d8641abf4dd3c2",
        "type": "tab",
        "label": "Авторизация",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dc57bd4872fb081c",
        "type": "group",
        "z": "d0d8641abf4dd3c2",
        "name": "Аутентификация",
        "style": {
            "label": true,
            "stroke": "#ffff00",
            "fill": "#ffff00",
            "color": "#000000"
        },
        "nodes": [
            "031851d130f15efc",
            "adc40443080e308e",
            "8669f4ba32fc71d4",
            "5b26c220827026c3",
            "c8c20f6a2c691098",
            "c27ea31347dad363",
            "0b6d738d7e97f835",
            "36a3ac2c32677eac",
            "97193aab93ec9e56",
            "27c33b68edee51eb",
            "2377d29ed80e9cf9"
        ],
        "x": 14,
        "y": 499,
        "w": 1132,
        "h": 182
    },
    {
        "id": "498fbf74c49afb10",
        "type": "group",
        "z": "d0d8641abf4dd3c2",
        "name": "Регистрация",
        "style": {
            "label": true
        },
        "nodes": [
            "e7178670a25a18b8",
            "6b8f79edd8aac21d",
            "d1e1ee10de33ede4",
            "3c9d1b24b24ae747",
            "618bc6b82f23d01c",
            "b76e496ea8b8958c",
            "b1e0307f423abf6e",
            "dae4ea71260b3920",
            "b49a245a351586b4",
            "c8c7b346cb27b9aa",
            "31e15ad0550e236f",
            "8f4fbb8f32372c69",
            "c203fc9c1159ab64",
            "10cd1b14c7995373",
            "da9b55839080b175",
            "9370873a09365f55",
            "d40d83bd0ca25087",
            "ff034c38362a0987"
        ],
        "x": 94,
        "y": 739,
        "w": 1412,
        "h": 302
    },
    {
        "id": "08dea3c2803be79b",
        "type": "group",
        "z": "d0d8641abf4dd3c2",
        "name": "Работа с бд",
        "style": {
            "label": true
        },
        "nodes": [
            "443cd013942e049b",
            "07502029eb702eb5",
            "0e83a3bbd8e179e9",
            "c63632fc28ce11a6",
            "b6ff6bf0a2db0f73",
            "76611972ca3c4eea",
            "1817f3efaa191a75",
            "3624767e91f5e2c5",
            "0452e331b7f0d51e",
            "372f518119c12c96",
            "607b053169d04a43",
            "87fd58b7ed0389d1",
            "eafb07e8b93f3ac6",
            "90e9e2d1f7f9d36a",
            "89842634261a77ac",
            "c7b205b79a37f418",
            "7f6525641d53d94a",
            "d6d068aaeeea77ab",
            "7edf5bacb90fb74f",
            "d9a8de37694d2f8f",
            "05b8799d743f5910",
            "fbb421f7dbfb0684",
            "680c496ed65e1fd7",
            "e1fb6ce89826a9dc",
            "302c954ed4b68337"
        ],
        "x": 74,
        "y": 19,
        "w": 972,
        "h": 442
    },
    {
        "id": "031851d130f15efc",
        "type": "http in",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "name": "Обработать вход",
        "url": "/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "36a3ac2c32677eac"
            ]
        ]
    },
    {
        "id": "adc40443080e308e",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "name": "Создать куку",
        "func": "const bcrypt = bcryptjs;\n\n// Проверяем существование пользователя\nif (!msg.payload || !msg.payload[0]) {\n    msg.error = \"Пользователь не найден\";\n    return [null, msg];\n}\n\nconst user = msg.payload[0];\n\n// Проверяем наличие пароля\nif (!user.password || typeof user.password !== 'string') {\n    msg.error = \"Некорректные данные пользователя\";\n    return [null, msg];\n}\n\ntry {\n    const match = await bcrypt.compare(msg.req.body.password, user.password);\n    \n    if (!match) {\n        msg.error = \"Неверный пароль\";\n        return [null, msg];\n    }\n\n    // Используем глобальные переменные Node-RED\n    const isProduction = env.get('NODE_ENV') === 'production';\n\n    // Успешная аутентификация\n    msg.cookies = {\n        \"auth_token\": {\n            value: \"generated_token_\" + Math.random().toString(36).slice(2, 11),\n            options: {\n                maxAge: 3600000,\n                httpOnly: true,\n                secure: isProduction\n            }\n        },\n        \"user_id\": {\n            value: user.id.toString(),\n            options: {\n                maxAge: 3600000,\n                httpOnly: true,\n                secure: isProduction\n            }\n        }\n    };\n    msg.headers = { \"Location\": \"/ssau\" };\n    msg.statusCode = 302;\n    return [msg, null];\n\n} catch (err) {\n    console.error(\"BCrypt Error:\", err);\n    msg.error = \"Ошибка при проверке пароля: \" + err.message;\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bcryptjs",
                "module": "bcryptjs"
            }
        ],
        "x": 860,
        "y": 600,
        "wires": [
            [
                "c27ea31347dad363",
                "2377d29ed80e9cf9"
            ],
            [
                "0b6d738d7e97f835",
                "2377d29ed80e9cf9"
            ]
        ]
    },
    {
        "id": "8669f4ba32fc71d4",
        "type": "http in",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "name": "Показать форму входа",
        "url": "/login",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "5b26c220827026c3"
            ]
        ]
    },
    {
        "id": "5b26c220827026c3",
        "type": "template",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "name": "Страница входа",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Login</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            max-width: 400px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n\n        .login-form {\n            background: #f9f9f9;\n            padding: 20px;\n            border-radius: 5px;\n        }\n\n        .form-group {\n            margin-bottom: 15px;\n        }\n\n        label {\n            display: block;\n            margin-bottom: 5px;\n        }\n\n        input[type=\"text\"],\n        input[type=\"password\"] {\n            width: 100%;\n            padding: 8px;\n            box-sizing: border-box;\n        }\n\n        button {\n            background: #4CAF50;\n            color: white;\n            padding: 10px 15px;\n            border: none;\n            border-radius: 4px;\n            cursor: pointer;\n        }\n\n        .error {\n            color: red;\n            margin-top: 10px;\n        }\n        .register-link {\n            margin-top: 15px;\n            text-align: center;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"login-form\">\n        <h2>Авторизация</h2>\n        <form action=\"/login\" method=\"post\">\n            <div class=\"form-group\">\n                <label for=\"username\">Имя пользователя:</label>\n                <input type=\"text\" id=\"username\" name=\"username\" required>\n            </div>\n            <div class=\"form-group\">\n                <label for=\"password\">Пароль:</label>\n                <input type=\"password\" id=\"password\" name=\"password\" required>\n            </div>\n            <button type=\"submit\">Авторизоваться</button>\n            {{#error}}<div class=\"error\">{{error}}</div>{{/error}}\n        </form>\n        <div class=\"register-link\">\n            <p>Нет аккаунта? <a href=\"/register\">Зарегистрируйтесь</a></p>\n        </div>\n    </div>\n</body>\n\n</html>",
        "x": 410,
        "y": 540,
        "wires": [
            [
                "c8c20f6a2c691098"
            ]
        ]
    },
    {
        "id": "c8c20f6a2c691098",
        "type": "http response",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 540,
        "wires": []
    },
    {
        "id": "c27ea31347dad363",
        "type": "http response",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 580,
        "wires": []
    },
    {
        "id": "0b6d738d7e97f835",
        "type": "http response",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 640,
        "wires": []
    },
    {
        "id": "36a3ac2c32677eac",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "name": "Команда",
        "func": "// Используем параметризованные запросы для защиты от SQL-инъекций\nconst insertSql = `SELECT * FROM users WHERE username = '${msg.payload.username}'`;\nmsg.topic = insertSql;\n//msg.topic = \"SELECT * FROM users WHERE username = ?\";\nmsg.params = [msg.payload.username];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 600,
        "wires": [
            [
                "97193aab93ec9e56"
            ]
        ]
    },
    {
        "id": "97193aab93ec9e56",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "DELETE FROM hourly_stats",
        "name": "",
        "x": 610,
        "y": 600,
        "wires": [
            [
                "adc40443080e308e",
                "27c33b68edee51eb"
            ]
        ]
    },
    {
        "id": "27c33b68edee51eb",
        "type": "debug",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "2377d29ed80e9cf9",
        "type": "debug",
        "z": "d0d8641abf4dd3c2",
        "g": "dc57bd4872fb081c",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 540,
        "wires": []
    },
    {
        "id": "ca6a824aa93cfae9",
        "type": "http in",
        "z": "d0d8641abf4dd3c2",
        "name": "Выход",
        "url": "/logout",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1080,
        "wires": [
            [
                "4555e613e58ab10a"
            ]
        ]
    },
    {
        "id": "4555e613e58ab10a",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "name": "Обработать выход",
        "func": "msg.cookies = {\n    \"auth_token\": {\n        value: \"\",\n        options: {\n            expires: new Date(0) // Удаляем куку\n        }\n    },\n    \"user_id\": {\n        value: \"\",\n        options: {\n            expires: new Date(0) // Удаляем куку\n        }\n    }\n};\nmsg.headers = {\n    \"Location\": \"/login\"\n};\nmsg.statusCode = 302;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1080,
        "wires": [
            [
                "737925b2e1334d10"
            ]
        ]
    },
    {
        "id": "737925b2e1334d10",
        "type": "http response",
        "z": "d0d8641abf4dd3c2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e7178670a25a18b8",
        "type": "http response",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 780,
        "wires": []
    },
    {
        "id": "6b8f79edd8aac21d",
        "type": "template",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "Форма регистрации",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    <title>Регистрация</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            max-width: 800px;\n            margin: 0 auto;\n            padding: 20px;\n        }\n\n        .register-header {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n\n        .register-container {\n            display: flex;\n            justify-content: space-between;\n            gap: 30px;\n        }\n\n        .register-form {\n            background: #f9f9f9;\n            padding: 20px;\n            border-radius: 5px;\n            flex: 1;\n        }\n\n        .form-group {\n            margin-bottom: 15px;\n        }\n\n        label {\n            display: block;\n            margin-bottom: 5px;\n        }\n\n        input[type=\"text\"],\n        input[type=\"password\"] {\n            width: 100%;\n            padding: 8px;\n            box-sizing: border-box;\n        }\n\n        button {\n            background: #4CAF50;\n            color: white;\n            padding: 10px 15px;\n            border: none;\n            border-radius: 4px;\n            cursor: pointer;\n            width: 100%;\n        }\n\n        .error {\n            color: red;\n            margin-top: 10px;\n        }\n\n        .login-link {\n            margin-top: 30px;\n            text-align: center;\n        }\n\n        .form-title {\n            text-align: right;\n            font-weight: bold;\n            margin-bottom: 15px;\n        }\n\n        .teacher-form .form-title {\n            text-align: left;\n        }\n    </style>\n</head>\n\n<body>\n    <div class=\"register-header\">\n        <h2>Зарегистрироваться</h2>\n    </div>\n\n    <div class=\"register-container\">\n        <div class=\"register-form student-form\">\n            <div class=\"form-title\">Как студент</div>\n            <form action=\"/register/student\" method=\"post\">\n                <div class=\"form-group\">\n                    <label for=\"student_username\">Имя пользователя:</label>\n                    <input type=\"text\" id=\"student_username\" name=\"username\" required>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"student_password\">Пароль:</label>\n                    <input type=\"password\" id=\"student_password\" name=\"password\" required>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"student_gruppa\">Группа:</label>\n                    <input type=\"gruppa\" id=\"student_gruppa\" name=\"gruppa\" required>\n                </div>\n                <button type=\"submit\">Регистрация</button>\n                {{#student_error}}<div class=\"error\">{{student_error}}</div>{{/student_error}}\n            </form>\n        </div>\n\n        <div class=\"register-form teacher-form\">\n            <div class=\"form-title\">Как преподаватель</div>\n            <form action=\"/register/teacher\" method=\"post\">\n                <div class=\"form-group\">\n                    <label for=\"teacher_username\">Имя пользователя:</label>\n                    <input type=\"text\" id=\"teacher_username\" name=\"username\" required>\n                </div>\n                <div class=\"form-group\">\n                    <label for=\"teacher_password\">Пароль:</label>\n                    <input type=\"password\" id=\"teacher_password\" name=\"password\" required>\n                </div>\n                <button type=\"submit\">Регистрация</button>\n                {{#teacher_error}}<div class=\"error\">{{teacher_error}}</div>{{/teacher_error}}\n            </form>\n        </div>\n    </div>\n\n    <div class=\"login-link\">\n        <p>Уже есть аккаунт? <a href=\"/login\">Войдите</a></p>\n    </div>\n</body>\n\n</html>",
        "x": 560,
        "y": 780,
        "wires": [
            [
                "e7178670a25a18b8"
            ]
        ]
    },
    {
        "id": "d1e1ee10de33ede4",
        "type": "http in",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "Показать форму регистрации",
        "url": "/register",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 780,
        "wires": [
            [
                "6b8f79edd8aac21d"
            ]
        ]
    },
    {
        "id": "3c9d1b24b24ae747",
        "type": "http in",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "Обработка регистрации студента",
        "url": "/register/student",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 840,
        "wires": [
            [
                "b1e0307f423abf6e"
            ]
        ]
    },
    {
        "id": "618bc6b82f23d01c",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "ввод данных",
        "func": "const bcrypt = bcryptjs;\nconst saltRounds = 10;\n//const node = this;\n\nif (msg.payload && msg.payload.length > 0) {\n    msg.error = \"Пользователь с таким именем уже существует\";\n    msg.payload = \"Ошибка: пользователь уже существует\";\n    msg.statusCode = 200;\n    return [null, msg];\n}\n\nreturn bcrypt.hash(msg.password, saltRounds)\n    .then(hashedPassword => {\n        const insertSql = `INSERT INTO users (username, password, gruppa, role) VALUES ('${msg.username}', '${hashedPassword}', '${msg.gruppa}', '${msg.role}')`;\n        msg.topic = insertSql;\n        msg.params = [msg.username, hashedPassword, msg.gruppa, msg.role];\n        msg.headers = {\n            \"Location\": \"/login\"\n        };\n        msg.statusCode = 302;\n        return [msg, null];\n    })\n    .catch(err => {\n        //node.error(err, msg);\n        msg.error = \"Ошибка при создании пользователя\";\n        return [null, msg];\n    });",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bcryptjs",
                "module": "bcryptjs"
            }
        ],
        "x": 960,
        "y": 840,
        "wires": [
            [
                "b76e496ea8b8958c"
            ],
            [
                "b49a245a351586b4"
            ]
        ]
    },
    {
        "id": "b76e496ea8b8958c",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "SELECT name FROM sqlite_master WHERE type='table';",
        "name": "",
        "x": 1200,
        "y": 840,
        "wires": [
            [
                "c8c7b346cb27b9aa"
            ]
        ]
    },
    {
        "id": "b1e0307f423abf6e",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "Команда",
        "func": "// Используем параметризованные запросы для защиты от SQL-инъекций\nmsg.topic = \"SELECT * FROM users WHERE username = ?\";\nmsg.params = [msg.payload.username];\nmsg.username = msg.payload.username;\nmsg.password = msg.payload.password;\nmsg.gruppa = msg.payload.gruppa;\nmsg.role = \"student\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 840,
        "wires": [
            [
                "dae4ea71260b3920"
            ]
        ]
    },
    {
        "id": "dae4ea71260b3920",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "DELETE FROM hourly_stats",
        "name": "",
        "x": 740,
        "y": 840,
        "wires": [
            [
                "618bc6b82f23d01c"
            ]
        ]
    },
    {
        "id": "b49a245a351586b4",
        "type": "http response",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1150,
        "y": 900,
        "wires": []
    },
    {
        "id": "c8c7b346cb27b9aa",
        "type": "http response",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1430,
        "y": 840,
        "wires": []
    },
    {
        "id": "31e15ad0550e236f",
        "type": "http in",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "Обработка регистрации преподавателя",
        "url": "/register/teacher",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 940,
        "wires": [
            [
                "10cd1b14c7995373"
            ]
        ]
    },
    {
        "id": "8f4fbb8f32372c69",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "ввод данных",
        "func": "const bcrypt = bcryptjs;\nconst saltRounds = 10;\n//const node = this;\n\nif (msg.payload && msg.payload.length > 0) {\n    msg.error = \"Пользователь с таким именем уже существует\";\n    msg.payload = \"Ошибка: пользователь уже существует\";\n    msg.statusCode = 200;\n    return [null, msg];\n}\n\nreturn bcrypt.hash(msg.password, saltRounds)\n    .then(hashedPassword => {\n        const insertSql = `INSERT INTO users (username, password, gruppa, role) VALUES ('${msg.username}', '${hashedPassword}', '${msg.gruppa}', '${msg.role}')`;\n        msg.topic = insertSql;\n        msg.params = [msg.username, hashedPassword, msg.gruppa, msg.role];\n        msg.headers = {\n            \"Location\": \"/login\"\n        };\n        msg.statusCode = 302;\n        return [msg, null];\n    })\n    .catch(err => {\n        //node.error(err, msg);\n        msg.error = \"Ошибка при создании пользователя\";\n        return [null, msg];\n    });",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "bcryptjs",
                "module": "bcryptjs"
            }
        ],
        "x": 960,
        "y": 940,
        "wires": [
            [
                "c203fc9c1159ab64"
            ],
            [
                "9370873a09365f55"
            ]
        ]
    },
    {
        "id": "c203fc9c1159ab64",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "SELECT name FROM sqlite_master WHERE type='table';",
        "name": "",
        "x": 1200,
        "y": 940,
        "wires": [
            [
                "d40d83bd0ca25087"
            ]
        ]
    },
    {
        "id": "10cd1b14c7995373",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "Команда",
        "func": "// Используем параметризованные запросы для защиты от SQL-инъекций\nmsg.topic = \"SELECT * FROM users WHERE username = ?\";\nmsg.params = [msg.payload.username];\nmsg.username = msg.payload.username;\nmsg.password = msg.payload.password;\nmsg.gruppa = \"teacher\";\nmsg.role = \"teacher\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 940,
        "wires": [
            [
                "da9b55839080b175"
            ]
        ]
    },
    {
        "id": "da9b55839080b175",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "DELETE FROM hourly_stats",
        "name": "",
        "x": 740,
        "y": 940,
        "wires": [
            [
                "8f4fbb8f32372c69"
            ]
        ]
    },
    {
        "id": "9370873a09365f55",
        "type": "http response",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1150,
        "y": 1000,
        "wires": []
    },
    {
        "id": "d40d83bd0ca25087",
        "type": "http response",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1430,
        "y": 940,
        "wires": []
    },
    {
        "id": "ff034c38362a0987",
        "type": "debug",
        "z": "d0d8641abf4dd3c2",
        "g": "498fbf74c49afb10",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 900,
        "wires": []
    },
    {
        "id": "443cd013942e049b",
        "type": "inject",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Инициализация БД",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 60,
        "wires": [
            [
                "07502029eb702eb5"
            ]
        ]
    },
    {
        "id": "07502029eb702eb5",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Создать таблицу users",
        "func": "// Создаем таблицу пользователей, если она не существует\nconst sql = `CREATE TABLE IF NOT EXISTS users (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    username TEXT UNIQUE NOT NULL,\n    password TEXT NOT NULL,\n    gruppa TEXT NOT NULL,\n    role TEXT NOT NULL,\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n)`;\n\nmsg.topic = sql;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 60,
        "wires": [
            [
                "0e83a3bbd8e179e9"
            ]
        ]
    },
    {
        "id": "0e83a3bbd8e179e9",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "mydb": "d3f44785a6cfb327",
        "sql": "",
        "name": "SQLite DB",
        "x": 710,
        "y": 60,
        "wires": [
            [
                "c63632fc28ce11a6"
            ]
        ]
    },
    {
        "id": "c63632fc28ce11a6",
        "type": "debug",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 60,
        "wires": []
    },
    {
        "id": "b6ff6bf0a2db0f73",
        "type": "inject",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Вывод таблиц БД",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT name FROM sqlite_master WHERE type='table';",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "1817f3efaa191a75"
            ]
        ]
    },
    {
        "id": "76611972ca3c4eea",
        "type": "debug",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "1817f3efaa191a75",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "SELECT name FROM sqlite_master WHERE type='table';",
        "name": "SQLite DB",
        "x": 450,
        "y": 120,
        "wires": [
            [
                "76611972ca3c4eea"
            ]
        ]
    },
    {
        "id": "3624767e91f5e2c5",
        "type": "inject",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Вывод пользователей",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "372f518119c12c96"
            ]
        ]
    },
    {
        "id": "0452e331b7f0d51e",
        "type": "debug",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "все пользователи",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "372f518119c12c96",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "fixed",
        "sql": "select * from users",
        "name": "SQLite DB",
        "x": 450,
        "y": 180,
        "wires": [
            [
                "0452e331b7f0d51e"
            ]
        ]
    },
    {
        "id": "607b053169d04a43",
        "type": "inject",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Создание пользователя",
        "props": [
            {
                "p": "msg.payload.username",
                "v": "admin22",
                "vt": "str"
            },
            {
                "p": "msg.payload.password",
                "v": "12322",
                "vt": "str"
            },
            {
                "p": "msg.payload.gruppa",
                "v": "teacher",
                "vt": "str"
            },
            {
                "p": "msg.payload.role",
                "v": "teacher",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "87fd58b7ed0389d1"
            ]
        ]
    },
    {
        "id": "87fd58b7ed0389d1",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "ввод данных",
        "func": "const insertSql = `INSERT INTO users (username, password, gruppa, role) VALUES ('${msg.payload.username}', '${msg.payload.password}', '${msg.payload.gruppa}', '${msg.payload.role}')`;\nmsg.topic = insertSql;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 240,
        "wires": [
            [
                "eafb07e8b93f3ac6"
            ]
        ]
    },
    {
        "id": "eafb07e8b93f3ac6",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "SELECT name FROM sqlite_master WHERE type='table';",
        "name": "",
        "x": 730,
        "y": 240,
        "wires": [
            [
                "90e9e2d1f7f9d36a"
            ]
        ]
    },
    {
        "id": "90e9e2d1f7f9d36a",
        "type": "debug",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "89842634261a77ac",
        "type": "inject",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Удалить из БД",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "2",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "c7b205b79a37f418"
            ]
        ]
    },
    {
        "id": "c7b205b79a37f418",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Команда",
        "func": "if (msg.topic == \"all\") {\n    msg.topic = \"DELETE FROM users\";\n}\nelse if (msg.topic){//удалить по id\n    msg.topic = `DELETE FROM users WHERE id = '${msg.topic}'`;\n}\nelse {\n    msg.topic = \"SELECT 'msg.topic пуст' AS text\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 300,
        "wires": [
            [
                "d6d068aaeeea77ab"
            ]
        ]
    },
    {
        "id": "7f6525641d53d94a",
        "type": "debug",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "d6d068aaeeea77ab",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "DELETE FROM hourly_stats",
        "name": "",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "7f6525641d53d94a"
            ]
        ]
    },
    {
        "id": "7edf5bacb90fb74f",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Команда",
        "func": "const insertSql = `SELECT * FROM users WHERE username = '${msg.payload.username}'AND password = '${msg.payload.password}'`;\nmsg.topic = insertSql;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 360,
        "wires": [
            [
                "05b8799d743f5910"
            ]
        ]
    },
    {
        "id": "d9a8de37694d2f8f",
        "type": "debug",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "05b8799d743f5910",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "DELETE FROM hourly_stats",
        "name": "",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "d9a8de37694d2f8f"
            ]
        ]
    },
    {
        "id": "fbb421f7dbfb0684",
        "type": "inject",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Найти пользователя",
        "props": [
            {
                "p": "msg.payload.username",
                "v": "admin",
                "vt": "str"
            },
            {
                "p": "msg.payload.password",
                "v": "123",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "7edf5bacb90fb74f"
            ]
        ]
    },
    {
        "id": "680c496ed65e1fd7",
        "type": "inject",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Удалить из БД",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "e1fb6ce89826a9dc"
            ]
        ]
    },
    {
        "id": "e1fb6ce89826a9dc",
        "type": "function",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "name": "Команда",
        "func": "msg.topic = \"DROP TABLE users\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 420,
        "wires": [
            [
                "302c954ed4b68337"
            ]
        ]
    },
    {
        "id": "302c954ed4b68337",
        "type": "sqlite",
        "z": "d0d8641abf4dd3c2",
        "g": "08dea3c2803be79b",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "DELETE FROM hourly_stats",
        "name": "",
        "x": 720,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d3f44785a6cfb327",
        "type": "sqlitedb",
        "db": "C:\\sqlite\\myusersdb.db",
        "mode": "RWC"
    }
]