subj.json
[
    {
        "id": "96b3a7bdffc02a46",
        "type": "tab",
        "label": "Предметы",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b83cceb90218bb16",
        "type": "group",
        "z": "96b3a7bdffc02a46",
        "name": "Внешний вид",
        "style": {
            "label": true
        },
        "nodes": [
            "eb6104075409be7d",
            "3043fb2166b3eba3",
            "6ad66adbfcccd7fe",
            "db4560c7c2073a98",
            "a63363f6d6ed75e1",
            "91d0af505d16a7c3"
        ],
        "x": 54,
        "y": 59,
        "w": 1312,
        "h": 162
    },
    {
        "id": "a18ab01cd2004dcd",
        "type": "group",
        "z": "96b3a7bdffc02a46",
        "name": "Данные",
        "style": {
            "label": true
        },
        "nodes": [
            "acc184a576fc1127",
            "e94ef20631abe1fc",
            "eed8cf825b35c359",
            "0c36d0543db77def",
            "6bd9fdcda1dda3e7",
            "a2b7d415a98b5d0f",
            "43c91f459a58a328",
            "9aa00395d33b40c5",
            "9b30b95168626b36",
            "69c139b2d087a345",
            "d7a4dde06ee31064",
            "616e1cea6a58e185",
            "725938fa0b6c40f3",
            "a519cd8a7f0eb26c",
            "7071f2e33ed83996",
            "e79d48ebdc349cdf",
            "b220638376516a8f"
        ],
        "x": 74,
        "y": 259,
        "w": 1052,
        "h": 262
    },
    {
        "id": "a519e155bc922db2",
        "type": "group",
        "z": "96b3a7bdffc02a46",
        "name": "Управление данными",
        "style": {
            "label": true
        },
        "nodes": [
            "e5d158a3ae78ec1a",
            "5c7b9c92bcb7ee73",
            "2c819fb8d09af4d6",
            "6821cc9a1df2189c",
            "50f6a24a6e844c76",
            "618294bd0f113014",
            "e552a021628338bf"
        ],
        "x": 954,
        "y": 819,
        "w": 592,
        "h": 202
    },
    {
        "id": "13fec579f68ce93d",
        "type": "group",
        "z": "96b3a7bdffc02a46",
        "name": "Управление данными таблицы labs",
        "style": {
            "label": true
        },
        "nodes": [
            "aa679fe189fb4651",
            "c060d4599a37ba5f",
            "fced7c6a7b89032d",
            "415428279bb167f0",
            "bfdf81b6864d1335",
            "260af056ef3e2c3a",
            "324bea94568f0069",
            "ea97fab4d4c4715c",
            "8423d1604e4825e1",
            "5bf97b91822d3be6",
            "2d3b30007ace24fa",
            "b85fe9a5d218d2f2",
            "40bca252d5409afe",
            "1425954943a3cbd3",
            "2d6773fcfdd5309f",
            "e4013aa985385184",
            "173749770eaef22b",
            "39a537873bcf5653",
            "e00aadd15fd5fb40"
        ],
        "x": 24,
        "y": 779,
        "w": 862,
        "h": 382
    },
    {
        "id": "eb6104075409be7d",
        "type": "http in",
        "z": "96b3a7bdffc02a46",
        "g": "b83cceb90218bb16",
        "name": "",
        "url": "/subject",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "a63363f6d6ed75e1"
            ]
        ]
    },
    {
        "id": "3043fb2166b3eba3",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "b83cceb90218bb16",
        "name": "css",
        "func": "var css = `\nbody {\n    font-family: Arial, sans-serif;\n    margin: 0;\n    padding: 0;\n    height: 1200px;\n    background-color: #edf3fec1;\n}\n\n.topbar {\n    position: fixed;\n    top: 0;\n    left: 0;\n    width: 100%; \n    height: 80px;\n    background-color: #fff;\n    color: white;\n    display: flex;\n    align-items: center;\n    box-shadow: 0 4px 8px rgba(215, 225, 238, 0.736);\n    padding-left: 20px;\n    z-index: 1;\n}\n\n\n.sidebar {\n    width: 45px;\n    height: 100%;\n    background-color: #fff;\n    color: white;\n    position: fixed;\n    top: 0;\n    left: 0;\n    transition: width 0.3s;\n    overflow: visible;\n    white-space: nowrap;\n    box-shadow: 0 4px 8px rgba(215, 225, 238, 0.736);\n    padding: 10px;\n    z-index: 10;\n}\n\n.sidebar.expanded1 {\n    width: 340px;\n    transition: width 0.7s ease; \n}\n\n.sidebar:hover {\n    width: 340px;\n    transition: width 0.7s ease; \n}\n\n.toggle-btn {\n    cursor: pointer;\n    text-align: center;\n    padding: 10px;\n    background-color: #EDF3FE;\n    border: none;\n    color: white;\n    width: 33px;\n    height: 33px;\n    border-radius: 50%;\n    outline: none;\n    position: absolute;\n    left: 82%;\n    top: 40px;\n    box-shadow: 0 4px 8px rgba(215, 225, 238, 0.736);\n    padding: 10px;\n}\n\n.toggle-btn.expanded1 {\n    transform: rotate(180deg);\n}\n\n.toggle-btn img {\n    width: 100%;\n    height: 100%;\n    object-fit: contain;\n    display: block;\n    transition: transform 0.2s ease;\n}\n\n.button-list {\n    list-style-type: none;\n    padding: 0;\n    margin: 0;\n}\n\n.button-list li {\n    display: flex;\n    align-items: center;\n    padding: 10px;\n}\n\n.button-list li img {\n    width: 24px;\n    height: 24px;\n    margin-right: 10px;\n}\n\n.button-list li:hover {\n    background-color: #555;\n}\n\n.text {\n    display: none;\n}\n\n.sidebar.expanded .text {\n    display: inline;\n}\n\n.sidebar:hover .text {\n    display: inline;\n}\n\n.logo {\n    width: 30px;\n    height: auto;\n    left: 84%;\n}\n\n.logo.small {\n    width: 300px;\n    height: auto;\n    transition: width 0.5s ease; \n}\n\n.logocenter {\n    border: 5px solid;\n    position: absolute;\n    top: 45px;\n    left: 50%;\n    transform: translate(-50%, -50%);\n    padding: 10px;\n}\n\n.logocenter.small {\n    border: 6px solid;\n    position: absolute;\n    top: 110px;\n    left: 50%;\n    transform: translate(-50%, -50%);\n    padding: 10px;\n}\n\n.logoname {\n    width: 230px;\n    height: auto;\n}\n\n.divlogoname {\n    height: auto;\n    position: absolute;\n    top: 20px;\n    left: 80px;\n    padding: 10px;\n}\n\n.menu {\n    list-style: none;\n    position: absolute;\n    color: black;\n    top: 60px;\n    width: 95%;\n    padding: 0;\n    margin: 40px 0 0 0;\n    transition: transform 0.7s ease;\n}\n\n.menu.small {\n    list-style: none;\n    position: absolute;\n    color: black;\n    top: 170px;\n    width: 95%;\n    padding: 0;\n    margin: 40px 0 0 0;\n}\n\n.menu li {\n    display: flex;\n    align-items: center;\n    padding: 12px;\n    cursor: pointer;\n    transition: background 0.6s;\n}\n\n.menu li:hover {\n    background: #EDF3FE;\n}\n\n.icon {\n    width: 24px;\n    height: 24px;\n    margin-right: 40px;\n}\n\n.text {\n    display: inline-block; \n    opacity: 0;\n    transition: opacity 0.3s ease 0.8s;\n    font-size: 18px;\n}\n\n.sidebar:not(.expanded1) .menu li,\n.sidebar:hover:not(.expanded1) .menu li {\n    justify-content: left;\n}\n\n.sidebar:not(.expanded1) .text {\n    opacity: 0;\n    visibility: hidden;\n}\n\n.sidebar.expanded1 .menu li,\n.sidebar:hover .menu li {\n    \n    ustify-content: flex-start;\n    padding-left: 5px;\n}\n\n.sidebar.expanded1 .text,\n.sidebar:hover .text {\n    opacity: 1;\n    visibility: visible;\n    transition-delay: 0.8s;\n}\n\n.main_content {\n    top: 105px;\n    position: relative;\n    color: black;\n    margin-top: 10px;\n    margin-left: 100px;\n    padding: 2px;\n    transition: margin-left 0.3s ease;\n  }\n  \n  .sidebar.expanded1 ~ .main_content {\n    margin-left: 400px;\n  }\n  \n.info-box {\n    text-align: center;\n}\n  \n.info-label {\n    margin-bottom: 10px;\n    font-size: 18px;\n    font-weight: bold;\n}\n  \n.info-rectangle {\n    width: 98%;\n    padding-right: -100px;\n    background-color: #fcfcfc;\n    box-shadow: 0 4px 8px rgba(215, 225, 238, 0.736);\n    border-radius: 10px;\n}\n\n.table {\n    display: grid;\n    padding: 5px;\n    grid-template-columns: 6.5vw 1fr 1fr 1fr 1fr 1fr 1fr;\n    gap: 5px;\n}\n\n.row {\n    display: contents;\n}\n\n.cell {\n    background: white;\n    padding: 20px;\n    border-radius: 10px;\n    box-shadow: 0 4px 8px rgba(215, 225, 238, 0.736);\n    min-height: 30px;\n    text-align: left;\n}\n\n.header-row .cell {\n    background: #EDF3FE;\n    font-weight: bold;\n    text-align: center;\n}\n\n.time {\n    font-weight: bold;\n    background: #EDF3FE;\n    padding: 20px;\n}\n\n.subject a {\n    color: blue;\n    text-decoration: none;\n}\n\n.subject {\n    cursor: pointer;\n    background-color: #fff;\n    font-size: 14px;\n    line-height: 1.4;\n    transition: background-color 0.3s;\n  }\n  \n  .subject:hover {\n    background-color: #dee7f9c8\n  }\n\n.green { border-left: 5px solid green; }\n.blue { border-left: 5px solid rgb(0, 68, 255); }\n.purple { border-left: 5px solid purple; }\n.red { border-left: 5px solid rgb(133, 6, 6); }\n.cyan { border-left: 5px solid rgb(17, 4, 90); }\n\n.info-subject {\n    margin-bottom: 10px;\n    font-size: 30px;\n    font-weight: bold;\n}\n  \n.task_info_table {\n    display: grid;\n    padding: 6px;\n    grid-template-columns: 1fr 3fr;\n    gap: 5px;\n}\n\n@media (max-width: 1000px) {\n    .task_info_table {\n      grid-template-columns: 1.9fr 2fr;\n    }\n}\n\n@media (max-width: 1600px) {\n    .task_info_table {\n      grid-template-columns: 1.7fr 3fr;\n    }\n}\n\n@media (max-width: 1300px) {\n    .task_info_table {\n      grid-template-columns: 1fr 3fr;\n    }\n}\n\n@media (max-width: 850px) {\n    .task_info_table {\n      grid-template-columns: 3fr 1fr;\n    }\n}\n\n\n.task_state {\n    min-height: 150px;\n    background: #EDF3FE;\n    padding: 20px;\n    transition: all 0.3s ease;\n}\n\n.task_table {\n    display: grid;\n    min-width: 360px;\n    background: #EDF3FE;\n    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;\n    gap: 5px;\n}\n\n@media (max-width: 2300px) {\n    .task_table {\n      grid-template-columns: 1fr 1fr 1fr 1fr;\n    }\n}\n\n@media (max-width: 1500px) {\n    .task_table {\n      grid-template-columns: 1fr 1fr 1fr;\n    }\n    .task_state {\n        min-width: 300px;\n    }\n}\n\n@media (max-width: 1000px) {\n    .task_table {\n      grid-template-columns: 1fr 1fr;\n    }\n}\n\n@media (max-width: 900px) {\n    .task_table {\n      grid-template-columns: 1fr;\n      min-width: 200px;\n    }\n}\n\n@media (max-width: 810px) {\n    .task_info_table {\n        grid-template-columns: 1fr;\n    }\n}\n\n.task {\n    background: white;\n    padding: 20px;\n    border-radius: 10px;\n    box-shadow: 0 4px 8px rgba(215, 225, 238, 0.736);\n    min-height: 50px;\n    text-align: left;\n}\n\n.teacher-card {\n    background: white;\n    border-radius: 10px;\n    box-shadow: 0 4px 8px rgba(215, 225, 238, 0.736);\n    padding: 20px;\n    max-width: 600px;\n    min-width: 300px;\n    margin: 0 auto;\n  }\n  \n  .teacher-title {\n    font-size: 18px;\n    font-weight: bold;\n    text-align: left;\n    margin: 0 0 15px 0;\n    padding-left: 10px;\n  }\n  \n  .teacher-info {\n    display: flex;\n    align-items: center;\n    justify-content: flex-start;\n  }\n  \n  .teacher-photo {\n    width: 100px;\n    height: 100px;\n    border-radius: 50%;\n    object-fit: cover;\n    margin-right: 20px;\n  }\n  \n  .teacher-details {\n    flex: 1;\n    text-align: left;\n  }\n  \n  .teacher-details p {\n    margin: 5px 0;\n  }\n  \n  .msg-button {\n    margin-top: 10px;\n    background-color: #0017e2;\n    color: white;\n    border: none;\n    padding: 10px 20px;\n    border-radius: 8px;\n    cursor: pointer;\n    font-size: 14px;\n  }\n  \n  .msg-button:hover {\n    background-color: #3054b8;\n  }\n  \n  .hidden {\n    display: none;\n  }\n  \n  .lab-details {\n    background: white;\n    border-radius: 10px;\n    box-shadow: 0 4px 8px rgba(215, 225, 238, 0.736);\n    padding: 20px;\n    max-width: 500px;\n    margin: 0 auto;\n  }\n  \n  .lab-comment {\n    padding: 20px;\n  }\n\n.task-status {\n    font-size: 14px;\n    color: #f00;\n    margin-top: 8px;\n  }\n  \n  .assignment-details {\n    position: relative;\n    color: black;\n    margin-top: 10px;\n    transition: margin-left 0.3s ease;\n  }\n  \n  .progress-container {\n    background-color: #f3f3f3;\n    border-radius: 8px;\n    height: 10px;\n    overflow: hidden;\n    margin-top: 10px;\n  }\n  \n  .progress-bar {\n    height: 100%;\n    background-color: #4caf50;\n    transition: width 1s ease;\n  }\n.task_p {\n  padding: 30px;\n}\n\n.loader-container {\n  display: flex;\n  flex-direction: column;\n  align-items: center;\n  justify-content: center;\n  height: 1200px;\n  background-color: #f5f5f5;\n}\n\n.loader {\n  border: 8px solid #f3f3f3;\n  border-top: 8px solid #164073;\n  border-radius: 50%;\n  width: 60px;\n  height: 60px;\n  animation: spin 1s linear infinite;\n}\n\n@keyframes spin {\n  0% { transform: rotate(0deg); }\n  100% { transform: rotate(360deg); }\n}\n\n.loader-container p {\n  margin-top: 20px;\n  font-size: 18px;\n  color: #333;\n}\n.modal {\n      position: fixed;\n      top: 50%;\n      left: 50%;\n      transform: translate(-50%, -50%);\n      background: white;\n      padding: 20px;\n      border-radius: 10px;\n      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);\n      z-index: 1000;\n      width: 400px;\n      max-width: 90%;\n    }\n\n    .modal input,\n    .modal select,\n    .modal textarea {\n      width: 100%;\n      padding: 8px;\n      margin: 8px 0;\n      border: 1px solid #ddd;\n      border-radius: 4px;\n    }\n\n    .modal textarea {\n      height: 100px;\n      resize: vertical;\n    }\n\n    .modal button {\n      padding: 8px 16px;\n      margin: 8px 5px 0 0;\n      border: none;\n      border-radius: 4px;\n      cursor: pointer;\n    }\n\n    .add-lab-button {\n      background: #EDF3FE;\n      padding: 15px;\n      text-align: center;\n      border-radius: 10px;\n      cursor: pointer;\n      margin-top: 10px;\n      font-weight: bold;\n      transition: background 0.3s;\n    }\n\n    .add-lab-button:hover {\n      background: #dee7f9c8;\n    }\n\n    .edit-lab-button {\n      background: #0017e2;\n      color: white;\n      border: none;\n      padding: 5px 10px;\n      border-radius: 5px;\n      cursor: pointer;\n      margin-top: 10px;\n      font-size: 12px;\n    }\n\n    .edit-lab-button:hover {\n      background: #3054b8;\n    }\n`;\n\nmsg.cssText = css;\nmsg.userRole = msg.userRole;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 180,
        "wires": [
            [
                "6ad66adbfcccd7fe"
            ]
        ]
    },
    {
        "id": "6ad66adbfcccd7fe",
        "type": "template",
        "z": "96b3a7bdffc02a46",
        "g": "b83cceb90218bb16",
        "name": "Внешний вид предмета",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"ru\">\n\n<head>\n  <meta charset=\"UTF-8\" />\n  <title id=\"subjectTitle\">Информация о предмете</title>\n  <style>\n    {{{cssText}}}\n  </style>\n  <link rel=\"icon\" type=\"image/png\" href=\"https://cabinet.ssau.ru/asset/favicon.ico\">\n</head>\n\n<body>\n  <header class=\"topbar\">\n    <div class=\"divlogoname\"><img src=\"https://sun9-71.userapi.com/impg/5bKKjXmZHXD-py_TrIJPKFRQ7bS0QHjZuGtpmw/76Nc37KiTHI.jpg?size=1890x185&quality=95&sign=f3cefb5512a49c2d843e894fda497b97&type=album\" class=\"logoname\">\n    </div>\n  </header>\n\n  <div class=\"sidebar\" id=\"sidebar\">\n    <div class=\"logocenter\" id=\"logocenter\">\n      <img src=\"https://raw.githubusercontent.com/Kulakov1Dima/SsauWorkspace/refs/heads/main/hahaton_exemple_fronted/logo_osnovnoy_small.png\" class=\"logo\" id=\"logo\">\n    </div>\n    <button class=\"toggle-btn\" id=\"toggleBtn\">\n        <img src=\"https://github.com/Kulakov1Dima/SsauWorkspace/blob/main/hahaton_exemple_fronted/expand.png?raw=true\">\n    </button>\n    <ul class=\"menu\" id=\"menu\">\n      <li>\n        <img src=\"https://raw.githubusercontent.com/Kulakov1Dima/SsauWorkspace/refs/heads/main/hahaton_exemple_fronted/home1.png\" class=\"icon\">\n        <span class=\"text\">Главная</span>\n      </li>\n      <li>\n        <img src=\"https://raw.githubusercontent.com/Kulakov1Dima/SsauWorkspace/refs/heads/main/hahaton_exemple_fronted/messenger.png\" class=\"icon\">\n        <span class=\"text\">Мессенджер</span>\n      </li>\n      <li onclick=\"location.href='http://localhost:1880/ssau';\" style=\"cursor:pointer;\">\n        <img src=\"https://raw.githubusercontent.com/Kulakov1Dima/SsauWorkspace/refs/heads/main/hahaton_exemple_fronted/schedule.png\" class=\"icon\">\n        <span class=\"text\">Расписание</span>\n      </li>\n    </ul>\n  </div>\n\n  <!-- Модальное окно для добавления/редактирования лабораторной работы -->\n  <div class=\"modal\" id=\"labModal\" style=\"display: none;\">\n    <h3 id=\"modalTitle\">Добавить лабораторную работу</h3>\n    <input type=\"text\" id=\"labTitle\" placeholder=\"Название работы\">\n    <select id=\"labStatusSelect\">\n          <option value=\"Не сдано\">Не сдано</option>\n          <option value=\"В процессе\">В процессе</option>\n          <option value=\"Сдано\">Сдано</option>\n          <option value=\"Проверяется\">Проверяется</option>\n          <option value=\"Требует доработки\">Требует доработки</option>\n      </select>\n    <input type=\"number\" id=\"labProgress\" placeholder=\"Прогресс (0-100)\" min=\"0\" max=\"100\">\n    <textarea id=\"labComment\" placeholder=\"Комментарий преподавателя\"></textarea>\n    <textarea id=\"labTask\" placeholder=\"Описание задания\"></textarea>\n    <button onclick=\"saveLab()\">ОК</button>\n    <button onclick=\"closeLabModal()\">Отмена</button>\n  </div>\n\n  <div class=\"main_content\">\n    <div class=\"info-subject\"></div>\n    <div class=\"info-rectangle\">\n      <div class=\"task_info_table\">\n        <div class=\"row\">\n          <div class=\"cell task_state\">\n\n            <div class=\"lab-details hidden\">\n              <div class=\"info-rectangle\">\n                <div class=\"lab-comment\">\n                  <h3>Комментарий преподавателя</h3>\n                  <p id=\"labCommentText\"></p>\n                  <h4>Статус: <span id=\"labStatusDisplay\"></span></h4>\n                  <div class=\"progress-container\">\n                    <div class=\"progress-bar\" id=\"labProgressBar\" style=\"width: 0%\"></div>\n                  </div>\n                </div>\n              </div>\n            </div>\n\n            <div class=\"teacher-card\">\n              <h4 class=\"teacher-title\">Ваш преподаватель</h4>\n              <div class=\"teacher-info\">\n                <img src=\"https://cdn-icons-png.flaticon.com/512/4837/4837857.png\" alt=\"Преподаватель\" class=\"teacher-photo\" id=\"teacherPhoto\">\n                <div class=\"teacher-details\">\n                  <p id=\"teacherName\"></p>\n                  <p>Email: <a href=\"mailto:ivanov@example.com\" id=\"teacherEmail\"></a></p>\n                  <button class=\"msg-button\">Написать сообщение</button>\n                </div>\n              </div>\n            </div>\n\n            <p id=\"subjectDescription\"></p>\n\n          </div>\n          <div class=\"cell task_state\">\n            <div class=\"task_table\" id=\"taskTable\">\n            </div>\n            <div class=\"add-lab-button\" onclick=\"openAddLabModal()\" id=\"add-lab-button\">\n              <span>+ Добавить лабораторную работу</span>\n            </div>\n          </div>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <script>\n    const imagesToPreload = [\n    \"http://localhost:1880/logo_osnovnoy.png\",\n    \"https://raw.githubusercontent.com/Kulakov1Dima/SsauWorkspace/refs/heads/main/hahaton_exemple_fronted/logo_osnovnoy_small.png\"\n    ];\n    \n    imagesToPreload.forEach(src => {\n    const img = new Image();\n    img.src = src;\n    });\n    \n    const sidebar = document.getElementById('sidebar');\n    const toggleBtn = document.getElementById('toggleBtn');\n    const logo = document.getElementById('logo');\n    const logocenter = document.getElementById('logocenter');\n    const menu = document.getElementById('menu');\n\n    toggleBtn.addEventListener('click', () => {\n        if (!toggleBtn.classList.contains('expanded1')) {\n            toggleBtn.classList.add('expanded1');\n            sidebar.classList.add('expanded1');\n        }\n        else{\n            toggleBtn.classList.remove('expanded1');\n            sidebar.classList.remove('expanded1');\n        }\n    });\n\n    sidebar.addEventListener('mouseenter', () => {\n        logo.src = 'http://localhost:1880/logo_osnovnoy.png';\n        logo.classList.add('small');\n        logocenter.classList.add('small');\n        menu.classList.add('small');\n    });\n\n    sidebar.addEventListener('mouseleave', () => {\n        if (!sidebar.classList.contains('expanded1')) {\n            logo.src = 'https://raw.githubusercontent.com/Kulakov1Dima/SsauWorkspace/refs/heads/main/hahaton_exemple_fronted/logo_osnovnoy_small.png';\n            logo.classList.remove('small');\n            logocenter.classList.remove('small');\n            menu.classList.remove('small');\n        }\n    });\n    \n    // Проверяем, является ли пользователь преподавателем\n    const userRole = '{{userRole}}' || 'student';\n    const isTeacher = userRole === 'teacher';\n\n    let currentLabId = null;\n    const subjectName = new URLSearchParams(window.location.search).get('name');\n\n    const teacherAddLabButton = document.getElementById('add-lab-button');\n    if (isTeacher) {\n      teacherAddLabButton.style.display = 'flex';\n    } else {\n      teacherAddLabButton.style.display = 'none';\n    }\n    \n    // Функции для работы с модальным окном лабораторных работ\n    function openAddLabModal() {\n    document.getElementById('modalTitle').textContent = 'Добавить лабораторную работу';\n    document.getElementById('labTitle').value = '';\n    document.getElementById('labStatusSelect').value = 'Не сдано';\n    document.getElementById('labProgress').value = '0';\n    document.getElementById('labComment').value = '';\n    document.getElementById('labTask').value = '';\n    currentLabId = null;\n    document.getElementById('labModal').style.display = 'block';\n    }\n\n    function openEditLabModal(labId, labData) {\n    document.getElementById('modalTitle').textContent = 'Редактировать лабораторную работу';\n    document.getElementById('labTitle').value = labData.title;\n    document.getElementById('labStatusSelect').value = labData.status;\n    document.getElementById('labProgress').value = labData.progress;\n    document.getElementById('labComment').value = labData.comment || '';\n    document.getElementById('labTask').value = labData.task || '';\n    currentLabId = labId;\n    document.getElementById('labModal').style.display = 'block';\n    }\n\n    function closeLabModal() {\n        document.getElementById('labModal').style.display = 'none';\n    }\n\n    function saveLab() {\n    const labData = {\n    subject_name: subjectName,\n    title: document.getElementById('labTitle').value,\n    status: document.getElementById('labStatusSelect').value,\n    progress: parseInt(document.getElementById('labProgress').value),\n    comment: document.getElementById('labComment').value,\n    task: document.getElementById('labTask').value\n    };\n    \n    if (!labData.title) {\n    alert('Пожалуйста, введите название работы');\n    return;\n    }\n    \n    const url = currentLabId ? `http://localhost:1880/lab/${currentLabId}` : 'http://localhost:1880/labs';\n    const method = currentLabId ? 'PUT' : 'POST';\n    \n    fetch(url, {\n    method: method,\n    headers: {\n    'Content-Type': 'application/json'\n    },\n    body: JSON.stringify(labData)\n    })\n    .then(response => response.json())\n    .then(() => {\n    closeLabModal();\n    window.location.reload();\n    })\n    .catch(error => {\n    console.error('Ошибка сохранения:', error);\n    alert('Ошибка сохранения данных');\n    });\n    }\n\n    // Добавляем кнопки редактирования к лабораторным работам (для преподавателей)\n    function addEditButtonsToLabs() {\n        if (!isTeacher) return;\n        \n        document.querySelectorAll('.task').forEach(task => {\n            const labId = task.dataset.labId;\n            const editButton = document.createElement('button');\n            editButton.textContent = 'Изменить данные';\n            editButton.className = 'edit-lab-button';\n            editButton.onclick = (e) => {\n                e.stopPropagation();\n                fetch(`http://localhost:1880/lab/${labId}`)\n                    .then(response => response.json())\n                    .then(data => openEditLabModal(labId, data));\n            };\n            task.appendChild(editButton);\n        });\n    }\n\n    document.addEventListener('DOMContentLoaded', () => {\n      const tasks = document.querySelectorAll('.task');\n      const teacherCard = document.querySelector('.teacher-card');\n      const labDetails = document.querySelector('.lab-details');\n      const labComment = document.getElementById('labComment');\n      const labStatus = document.getElementById('labStatus');\n      const labProgressBar = document.getElementById('labProgressBar');\n      const taskTable = document.getElementById('taskTable');\n\n      taskTable.addEventListener('click', async (event) => {\n        const task = event.target.closest('.task');\n        if (!task || event.target.classList.contains('edit-lab-button')) return;\n\n        const labId = task.dataset.labId;\n        if (!labId) return;\n        try {\n          const response = await fetch(`http://localhost:1880/lab/${labId}`);\n          const labData = await response.json();\n\n          labCommentText.textContent = labData.comment;\n          labStatusDisplay.textContent = labData.status;\n          labProgressBar.style.width = `${labData.progress}%`;\n\n          labDetails.classList.remove('hidden');\n          teacherCard.classList.add('hidden');\n\n          let existingAssignment = document.querySelector('.assignment-details');\n          if (!existingAssignment) {\n            existingAssignment = document.createElement('div');\n            existingAssignment.className = 'assignment-details main_content';\n            document.body.appendChild(existingAssignment);\n          }\n\n          let taskWithConsole = labData.task;\n          if (taskWithConsole.includes('[[CONSOLE]]')) {\n            const consoleHTML = `<iframe src=\\\"https://mail.ru\\\" style=\\\"width:100%; height:480px; border:none; margin-top:20px;\\\"></iframe>`;\n            taskWithConsole = taskWithConsole.replace('[[CONSOLE]]', consoleHTML);\n          }\n          if (taskWithConsole.includes('[[PYTHON]]')) {\n            const consoleHTML = `<div id=\\\"pythonLoader\\\" class=\\\"loader-container\\\"><div class=\\\"loader\\\"></div><p>Загрузка Jupyter Notebook...</p></div><iframe id=\\\"pythonIframe\\\" src=\\\"http://127.0.0.1:8888/notebooks/Untitled.ipynb\\\"\\n              style=\\\"width:100%; height:1200px; border:none; margin-top:20px; display:none;\\\"\\n              sandbox=\\\"allow-scripts allow-same-origin allow-popups allow-forms\\\"></iframe>`;\n            taskWithConsole = taskWithConsole.replace('[[PYTHON]]', consoleHTML);\n            setTimeout(() => {\n              const pythonIframe = document.getElementById('pythonIframe');\n              const pythonLoader = document.getElementById('pythonLoader');\n              \n              pythonIframe.onload = () => {\n                pythonLoader.style.display = 'none';\n                pythonIframe.style.display = 'block';\n                };\n            }, 0);\n          }\n\nexistingAssignment.innerHTML = `\n<div class=\"assignment-details\">\n  <div class=\"info-rectangle\">\n    <div class=\"task_p\">\n      <h3>Задание лабораторной работы</h3>\n      <p>${taskWithConsole}</p>\n      <p>Статус: <span class=\"assignment-status\">${labData.status}</span></p>\n      <div class=\"progress-container\">\n        <div class=\"progress-bar\" style=\"width: ${labData.progress}%;\"></div>\n      </div>\n    </div>\n  </div>\n</div>\n`;\n} catch (error) {\nconsole.error('Ошибка при загрузке данных:', error);\n}\n});\n\n  const urlParams = new URLSearchParams(window.location.search);\n  let subjectName = urlParams.get('name');\n\n  if (!subjectName || subjectName === \"null\") {\n    window.location.href = 'error.html';\n  } else {\n    const infoLabel = document.querySelector('.info-subject');\n    infoLabel.textContent = subjectName;\n    document.getElementById(\"subjectTitle\").textContent = subjectName;\n    document.getElementById(\"subjectDescription\").textContent = `Здесь могла бы быть подробная информация о предмете «${subjectName}».`;\n\n    const defaultTeacher = {\n      name: \"Не найден\",\n      email: \"null\",\n      photo: \"https://cdn-icons-png.flaticon.com/512/4837/4837857.png\"\n    };\n\n    fetch(`http://localhost:1880/teacher${encodeURIComponent(subjectName)}`)\n      .then(response => response.json())\n      .then(data => {\n        document.getElementById('teacherPhoto').src = data.photo || defaultTeacher.photo;\n        document.getElementById('teacherName').textContent = data.name || defaultTeacher.name;\n        document.getElementById('teacherEmail').href = `mailto:${data.email || defaultTeacher.email}`;\n        document.getElementById('teacherEmail').textContent = data.email || defaultTeacher.email;\n      })\n      .catch(error => {\n        console.error('Ошибка получения данных преподавателя:', error);\n        document.getElementById('teacherPhoto').src = defaultTeacher.photo;\n        document.getElementById('teacherName').textContent = defaultTeacher.name;\n        document.getElementById('teacherEmail').href = `mailto:${defaultTeacher.email}`;\n        document.getElementById('teacherEmail').textContent = defaultTeacher.email;\n      });\n\n    fetch(`http://localhost:1880/labs/${encodeURIComponent(subjectName)}`)\n      .then(response => response.json())\n      .then(data => {\n        data.forEach(lab => {\n          const labDiv = document.createElement('div');\n          labDiv.className = 'task subject';\n          labDiv.dataset.labId = lab.id;\n\n          if (lab.status === \"Сдано\") {\n            labDiv.classList.add('green');\n          } else if (lab.status === \"Не сдано\") {\n            labDiv.classList.add('red');\n          } else if (lab.status === \"В процессе\") {\n            labDiv.classList.add('blue');\n          }\n\n          labDiv.innerHTML = `\n            <b>${lab.title}</b><br>\n            <span>Статус: ${lab.status}</span>\n          `;\n          taskTable.appendChild(labDiv);\n        });\n        \n        addEditButtonsToLabs(); // Добавляем кнопки редактирования\n      })\n      .catch(error => {\n        console.error('Ошибка при загрузке данных:', error);\n      });\n  }\n});\n  </script>\n</body>\n\n</html>",
        "output": "str",
        "x": 1070,
        "y": 100,
        "wires": [
            [
                "db4560c7c2073a98"
            ]
        ],
        "icon": "node-red/parser-html.svg"
    },
    {
        "id": "db4560c7c2073a98",
        "type": "http response",
        "z": "96b3a7bdffc02a46",
        "g": "b83cceb90218bb16",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1290,
        "y": 100,
        "wires": []
    },
    {
        "id": "acc184a576fc1127",
        "type": "http in",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "",
        "url": "/labs/:subject_name",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "e94ef20631abe1fc"
            ]
        ]
    },
    {
        "id": "e94ef20631abe1fc",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "Получение лабораторных",
        "func": "const subjectName = msg.req.params.subject_name;\n\nmsg.topic = \"SELECT id, title, status FROM labs WHERE subject_name = \\\"\" + subjectName +\"\\\"\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "eed8cf825b35c359"
            ]
        ]
    },
    {
        "id": "0c36d0543db77def",
        "type": "http response",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 300,
        "wires": []
    },
    {
        "id": "6bd9fdcda1dda3e7",
        "type": "http in",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "",
        "url": "/lab/:lab_id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "a2b7d415a98b5d0f"
            ]
        ]
    },
    {
        "id": "a2b7d415a98b5d0f",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "Получение лабораторных",
        "func": "const lab_id = msg.req.params.lab_id;\n\nmsg.topic = \"SELECT * FROM labs WHERE id = \\\"\" + lab_id + \"\\\"\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "43c91f459a58a328"
            ]
        ]
    },
    {
        "id": "9aa00395d33b40c5",
        "type": "http response",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "9b30b95168626b36",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "[0]",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 360,
        "wires": [
            [
                "9aa00395d33b40c5"
            ]
        ]
    },
    {
        "id": "eed8cf825b35c359",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "/*\nЗа раз можно сделать одну таблицу,\nпоэтому комментируй остальное\n */\nCREATE TABLE labs (\n    id INTEGER PRIMARY KEY,\n    subject_name TEXT,\n    title TEXT,\n    status TEXT,\n    message TEXT\n);",
        "name": "labs",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "0c36d0543db77def"
            ]
        ]
    },
    {
        "id": "43c91f459a58a328",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "/*\nЗа раз можно сделать одну таблицу,\nпоэтому комментируй остальное\n */\nCREATE TABLE labs (\n    id INTEGER PRIMARY KEY,\n    subject_name TEXT,\n    title TEXT,\n    status TEXT,\n    message TEXT\n);",
        "name": "labs",
        "x": 730,
        "y": 360,
        "wires": [
            [
                "9b30b95168626b36"
            ]
        ]
    },
    {
        "id": "a63363f6d6ed75e1",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "b83cceb90218bb16",
        "name": "Проверка авторизации",
        "func": "// Проверяем куки\nif (!msg.req.cookies || !msg.req.cookies.auth_token) {\n    msg.headers = {\n        \"Location\": \"/login\"\n    };\n    msg.statusCode = 302;\n    return [null, msg];\n}\n\n// Получаем ID пользователя из куки\nconst userId = msg.req.cookies.user_id;\nif (!userId) {\n    msg.headers = {\n        \"Location\": \"/login\"\n    };\n    msg.statusCode = 302;\n    return [null, msg];\n}\n\nmsg.topic = `SELECT * FROM users WHERE id = '${userId}'`;\nmsg.userId = userId;\n\n// Здесь можно добавить проверку валидности токена\n// Например, сравнить с хранящимся в памяти или БД\n\nreturn [msg, null];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "1463063b4c77a5db"
            ],
            [
                "db4560c7c2073a98"
            ]
        ]
    },
    {
        "id": "e5d158a3ae78ec1a",
        "type": "inject",
        "z": "96b3a7bdffc02a46",
        "g": "a519e155bc922db2",
        "name": "Создать БД",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1070,
        "y": 860,
        "wires": [
            [
                "5c7b9c92bcb7ee73"
            ]
        ]
    },
    {
        "id": "5c7b9c92bcb7ee73",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "a519e155bc922db2",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "fixed",
        "sql": "/*\nЗа раз можно сделать одну таблицу,\nпоэтому комментируй остальное\n */\nCREATE TABLE labs (\n    id INTEGER PRIMARY KEY AUTOINCREMENT,\n    subject_name TEXT,\n    title TEXT,\n    progress INTEGER,\n    status TEXT,\n    comment TEXT,\n    task TEXT\n);",
        "name": "labs",
        "x": 1290,
        "y": 860,
        "wires": [
            [
                "2c819fb8d09af4d6"
            ]
        ]
    },
    {
        "id": "2c819fb8d09af4d6",
        "type": "debug",
        "z": "96b3a7bdffc02a46",
        "g": "a519e155bc922db2",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 860,
        "wires": []
    },
    {
        "id": "6821cc9a1df2189c",
        "type": "inject",
        "z": "96b3a7bdffc02a46",
        "g": "a519e155bc922db2",
        "name": "Вывод списка БД",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT name FROM sqlite_master WHERE type='table';",
        "x": 1090,
        "y": 920,
        "wires": [
            [
                "50f6a24a6e844c76"
            ]
        ]
    },
    {
        "id": "50f6a24a6e844c76",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "a519e155bc922db2",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "SELECT name FROM sqlite_master WHERE type='table';",
        "name": "labs",
        "x": 1290,
        "y": 920,
        "wires": [
            [
                "618294bd0f113014"
            ]
        ]
    },
    {
        "id": "618294bd0f113014",
        "type": "debug",
        "z": "96b3a7bdffc02a46",
        "g": "a519e155bc922db2",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 920,
        "wires": []
    },
    {
        "id": "e552a021628338bf",
        "type": "inject",
        "z": "96b3a7bdffc02a46",
        "g": "a519e155bc922db2",
        "name": "Удалить таблицу",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE labs",
        "x": 1080,
        "y": 980,
        "wires": [
            [
                "50f6a24a6e844c76"
            ]
        ]
    },
    {
        "id": "aa679fe189fb4651",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "ввод данных",
        "func": "let id = 1,\n    subject_name = \"Системы искусственного интеллекта\",\n    title = \"Лабораторная работа №1\",\n    status = \"Не сдано\",\n    progress = 0,\n    comment = \"\",\n    task = \"<br />[[PYTHON]]\";\n\nmsg.topic = `insert into labs(id, subject_name, title, status, progress, comment, task) values ('${id}', '${subject_name}', '${title}', '${status}', '${progress}', '${comment}', '${task}')`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 820,
        "wires": [
            [
                "c060d4599a37ba5f"
            ]
        ]
    },
    {
        "id": "c060d4599a37ba5f",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "SELECT name FROM sqlite_master WHERE type='table';",
        "name": "",
        "x": 590,
        "y": 820,
        "wires": [
            [
                "fced7c6a7b89032d"
            ]
        ]
    },
    {
        "id": "fced7c6a7b89032d",
        "type": "debug",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 820,
        "wires": []
    },
    {
        "id": "415428279bb167f0",
        "type": "inject",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "Вывод лаб",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 900,
        "wires": [
            [
                "bfdf81b6864d1335"
            ]
        ]
    },
    {
        "id": "bfdf81b6864d1335",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "fixed",
        "sql": "select * from labs",
        "name": "",
        "x": 330,
        "y": 900,
        "wires": [
            [
                "260af056ef3e2c3a"
            ]
        ]
    },
    {
        "id": "260af056ef3e2c3a",
        "type": "debug",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 900,
        "wires": []
    },
    {
        "id": "324bea94568f0069",
        "type": "inject",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "Удалить из БД",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "1",
        "x": 160,
        "y": 980,
        "wires": [
            [
                "ea97fab4d4c4715c"
            ]
        ]
    },
    {
        "id": "ea97fab4d4c4715c",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "Команда",
        "func": "if (msg.topic == \"all\") {\n    msg.topic = \"DELETE FROM labs\";\n}\nelse if (msg.topic){//удалить по id\n    msg.topic = `DELETE FROM labs WHERE id = '${msg.topic}'`;\n}\nelse {\n    msg.topic = \"SELECT 'msg.topic пуст' AS text\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 980,
        "wires": [
            [
                "8423d1604e4825e1"
            ]
        ]
    },
    {
        "id": "8423d1604e4825e1",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "DELETE FROM hourly_stats",
        "name": "",
        "x": 530,
        "y": 980,
        "wires": [
            [
                "5bf97b91822d3be6"
            ]
        ]
    },
    {
        "id": "5bf97b91822d3be6",
        "type": "debug",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 980,
        "wires": []
    },
    {
        "id": "2d3b30007ace24fa",
        "type": "inject",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "Изменить задачу",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "b85fe9a5d218d2f2"
            ]
        ]
    },
    {
        "id": "b85fe9a5d218d2f2",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "ввод id и task",
        "func": "let task = `1. Начальные сведения о файловой системе Linux(часть 1).<br />\n2. Основы работы с файловой системой в командной оболочке.<br />\n3. Основы работы с компилятором gcc.<br />\n4. Системные вызовы и функции для работы с файловой системой.<br />\n<h3>Начальные сведения о файловой системе Linux (часть 1)</h3><br />\nВся информация, хранящаяся в компьютере, организована в файлы - именованные\nобласти данных на носителе информации. Также, во многих операционных системах (в том\nчисле в Linux) в виде работы с файлами организован и доступ к другим ресурсам, например,\nустройствам ввода-вывода.\nВсе файлы, доступные в операционной системе Linux, объединяются в единую\nдревовидную (имеющую вид направленного дерева – связного направленного графа без циклов)\nлогическую структуру. Ветками этого дерева (узлами, из которых могут исходить дуги)\nявляются специальные файлы, называемые директориями (каталогами, папками). Из них\nмогут исходить дуги к другим файлам - как к другим директориям, так и к файлам, хранящим\nразличные данные (регулярным файлам). Регулярные файлы являются листьями дерева -\nузлами, из которых не исходят дуги. Принято говорить, что директория включает в себя все\nфайлы, к которым из неё исходят дуги (или, что все такие файлы входят в данную\nдиректорию, находятся в данной директории).\nКаждому файлу (как регулярному, так и директории) должно быть присвоено имя. Оно не\nдолжно быть длиннее 255 символов (в других версиях 13 символов), не должно содержать\nсимвол с нулевым кодом (NUL) и символ ‘/’ (слэш). Также не рекомендуется использовать в\nименах файлов символы ‘*’, ‘?’, ‘\\’ (обратный слэш), кавычки и пробел. Файлы должны иметь\nуникальное имя в пределах той директории, в которую они входят. В отличие от Windows,\nLinux различает регистр символов, входящих в имя файла.\nОсобым случаем является корень дерева – единственная директория, не входящая ни в\nкакую другую. Её имя всегда «/» (единственное исключение из правила именования файлов).\nЕсли имя файла начинается с символа ‘.’, такой файл считается скрытым. <br /> [[PYTHON]] <br />`,\nid = 1;\nmsg.topic = `UPDATE labs\nSET task = '${task}'\nWHERE id = ${id};`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1060,
        "wires": [
            [
                "40bca252d5409afe"
            ]
        ]
    },
    {
        "id": "40bca252d5409afe",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "SELECT name FROM sqlite_master WHERE type='table';",
        "name": "",
        "x": 590,
        "y": 1060,
        "wires": [
            [
                "1425954943a3cbd3"
            ]
        ]
    },
    {
        "id": "1425954943a3cbd3",
        "type": "debug",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1060,
        "wires": []
    },
    {
        "id": "2d6773fcfdd5309f",
        "type": "inject",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "Изменить статус",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 1120,
        "wires": [
            [
                "e4013aa985385184"
            ]
        ]
    },
    {
        "id": "e4013aa985385184",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "ввод id и task",
        "func": "let status = \"Сдано\",\nid = 2;\nmsg.topic = `UPDATE labs\nSET status = '${status}'\nWHERE id = ${id};`\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1120,
        "wires": [
            [
                "173749770eaef22b"
            ]
        ]
    },
    {
        "id": "173749770eaef22b",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "SELECT name FROM sqlite_master WHERE type='table';",
        "name": "",
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "39a537873bcf5653"
            ]
        ]
    },
    {
        "id": "39a537873bcf5653",
        "type": "debug",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "mes",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e00aadd15fd5fb40",
        "type": "inject",
        "z": "96b3a7bdffc02a46",
        "g": "13fec579f68ce93d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 820,
        "wires": [
            [
                "aa679fe189fb4651"
            ]
        ]
    },
    {
        "id": "ecf716de61bc1a85",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "name": "получение данных пользователя",
        "func": "// Проверяем, что получили роль пользователя\nif (!msg.payload || msg.payload.length === 0) {\n    node.error(\"Не удалось получить данные пользователя\", msg);\n    return [null, msg];\n}\n\nconst userRole = msg.payload[0].role;\nmsg.userRole = userRole;\nconst userName = msg.payload[0].username;\nmsg.userName = userName;\nconst password = msg.payload[0].password;\nmsg.password = password;\nconst gruppa = msg.payload[0].gruppa;\nmsg.gruppa = gruppa;\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 180,
        "wires": [
            [
                "3043fb2166b3eba3"
            ]
        ]
    },
    {
        "id": "1463063b4c77a5db",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "select * from events",
        "name": "SQLite DB",
        "x": 350,
        "y": 180,
        "wires": [
            [
                "ecf716de61bc1a85"
            ]
        ]
    },
    {
        "id": "69c139b2d087a345",
        "type": "http in",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "",
        "url": "/labs",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "d7a4dde06ee31064"
            ]
        ]
    },
    {
        "id": "d7a4dde06ee31064",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "добавление лабораторных",
        "func": "const labData = msg.payload;\nmsg.topic = `INSERT INTO labs(subject_name, title, status, progress, comment, task) \n             VALUES ('${labData.subject_name}', '${labData.title}', '${labData.status}', \n                    ${labData.progress}, '${labData.comment}', '${labData.task}')`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 420,
        "wires": [
            [
                "e79d48ebdc349cdf"
            ]
        ]
    },
    {
        "id": "616e1cea6a58e185",
        "type": "http response",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "725938fa0b6c40f3",
        "type": "http in",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "",
        "url": "/lab/:lab_id",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "a519cd8a7f0eb26c"
            ]
        ]
    },
    {
        "id": "a519cd8a7f0eb26c",
        "type": "function",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "обновление лабораторных",
        "func": "const labId = msg.req.params.lab_id;\nconst labData = msg.payload;\nmsg.topic = `UPDATE labs \n             SET title = '${labData.title}', \n                 status = '${labData.status}', \n                 progress = ${labData.progress}, \n                 comment = '${labData.comment}', \n                 task = '${labData.task}'\n             WHERE id = ${labId}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 480,
        "wires": [
            [
                "b220638376516a8f"
            ]
        ]
    },
    {
        "id": "7071f2e33ed83996",
        "type": "http response",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "e79d48ebdc349cdf",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "/*\nЗа раз можно сделать одну таблицу,\nпоэтому комментируй остальное\n */\nCREATE TABLE labs (\n    id INTEGER PRIMARY KEY,\n    subject_name TEXT,\n    title TEXT,\n    status TEXT,\n    message TEXT\n);",
        "name": "labs",
        "x": 770,
        "y": 420,
        "wires": [
            [
                "616e1cea6a58e185"
            ]
        ]
    },
    {
        "id": "b220638376516a8f",
        "type": "sqlite",
        "z": "96b3a7bdffc02a46",
        "g": "a18ab01cd2004dcd",
        "mydb": "d3f44785a6cfb327",
        "sqlquery": "msg.topic",
        "sql": "/*\nЗа раз можно сделать одну таблицу,\nпоэтому комментируй остальное\n */\nCREATE TABLE labs (\n    id INTEGER PRIMARY KEY,\n    subject_name TEXT,\n    title TEXT,\n    status TEXT,\n    message TEXT\n);",
        "name": "labs",
        "x": 770,
        "y": 480,
        "wires": [
            [
                "7071f2e33ed83996"
            ]
        ]
    },
    {
        "id": "91d0af505d16a7c3",
        "type": "debug",
        "z": "96b3a7bdffc02a46",
        "g": "b83cceb90218bb16",
        "name": "mes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "98a258e7e35f42a8",
        "type": "file in",
        "z": "96b3a7bdffc02a46",
        "name": "logo_osnovnoy.png ",
        "filename": "",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 970,
        "y": 620,
        "wires": [
            [
                "2085a41933487b98"
            ]
        ],
        "icon": "font-awesome/fa-image"
    },
    {
        "id": "2085a41933487b98",
        "type": "http response",
        "z": "96b3a7bdffc02a46",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "953d496356877e9a",
        "type": "http in",
        "z": "96b3a7bdffc02a46",
        "name": "",
        "url": "/logo_osnovnoy.png",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 714.9999666213989,
        "y": 619.0000143051147,
        "wires": [
            [
                "98a258e7e35f42a8"
            ]
        ]
    },
    {
        "id": "d3f44785a6cfb327",
        "type": "sqlitedb",
        "db": "C:\\sqlite\\myusersdb.db",
        "mode": "RWC"
    }
]